{
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    },
    "env": {
        "mocha": true
    },
    "rules": {
        "react/jsx-uses-react": 1
    },
    "plugins": [
        "react"
    ]
}
