// use bootstrap vars for overrides

.juttle-client-library {
    .form-control {
        background-color: $input-bg;
        color: $input-color;
        border-color: $input-border;
    }

    .Select,
    .Select.is-open,
    .Select.has-value,
    .Select.is-focused.is-pseudo-focused {
        .Select-control,
        .Select-control .Select-value .Select-value-label,
        .Select-menu-outer,
        .Select-option {
            background-color: $input-bg;
            color: $input-color;
            border-color: $input-border;
        }

        .Select-option:hover {
            background-color: $component-active-bg;
        }
    }
}

.datepicker,
.datepicker__input,
.datepicker__input:focus,
.datepicker__month .datepicker__day {
    background-color: $input-bg;
    color: $input-color;
    border-color: $input-border;
    box-shadow: none;
}

.datepicker__month .datepicker__day--selected {
    background-color: $component-active-bg;
}

.datepicker__month .datepicker__day:hover {
    background-color: $input-border;
}

.datepicker__current-month,
.datepicker__day {
    color: $input-color;
}

.datepicker__header {
    background-color: $input-border;
    color: $input-color;
}
