//@import "../../../node_modules/font-awesome/scss/font-awesome";
@import "./bootstrap-variables";
@import "./bootstrap";
@import "./flexbox";
@import "./juttle-client-library-overrides";
@import "./components/directory-listing";
@import "./components/font-button";

html, body, #app {
    height: 100%;
}

span.logo {
    font-size: 28px;
    font-weight: bolder;
    font-family: Rockwell Extra Bold;
    vertical-align: middle;

}

.menu-bar {
    border-right: 1px solid $gray-dark;
    padding: 10px;
    @include flexbox;


    .header-options {
        @include flexbox;
        @include align-items(center);
    }
}

.app-wrapper {
    height: 100%;
    width: 100%;
    @include flexbox;
    @include flex-direction(row);
}

.app-main {
    width: 100%;
    height:100%;
    overflow-x: hidden;
    @include flexbox;
    @include flex-direction(column);
}

.run-main {
    @include flex-grow(1);
    margin: 15px;
}

.run-inputs {
    @include flex-shrink(0);
    border-bottom: 1px solid $gray-dark;
    padding: 10px;
    padding-bottom: 0;
}

$run-menu-height: 65px;

.run-menu {
    border-bottom: 1px solid $gray-dark;
    height: $run-menu-height;
    @include flex-shrink(0);
    @include flexbox;
    @include align-items(center);
    padding: 0 20px;

    .left-menu {
        @include flex-grow(1);
        @include align-items(center);
        @include flexbox;
    }

    .right-menu {
        @include flex-shrink(0);
    }

    .run-btn {
        margin-left: 20px;
    }

    .new-btn {
        margin-left: 20px;
    }

    .program-meta {
        margin-left: 20px;
        height: 100%;
        padding: 10px;
        padding-left: 0;

        .bundle-id {
            font-size: $font-size-large;
        }

        .run-mode .run-mode-title {
            font-size: $font-size-small;
            color: $gray-light;
        }

        .run-mode .run-mode-text {
            font-size: $font-size-small;
        }
    }

    .run-menu-toggles {
        margin-left: 20px;
    }
}

.run-menu-fullscreen {
    position: fixed;
    height: $run-menu-height;
    z-index: 1000;
    @include flexbox;
    @include align-items(center);
    padding: 0 20px;
    right: 0;
}

.juttle-source {
    background-color: transparent;
    color: inherit;
    padding: 10px;
    border-bottom: 1px solid $gray-dark;
    @include flex-shrink(0);
}

.dropdown-menu {
    max-height: 50vh;
    overflow-y: auto;
}

#directory-listing.dropdown-menu {
    width: 300px;
}
