//@import "../../../node_modules/font-awesome/scss/font-awesome";
@import "./bootstrap-variables";
@import "./bootstrap";
@import "./flexbox";
@import "./juttle-client-library-overrides";
@import "directory-listing";

html, body, #app {
    height: 100%;
}

span.logo {
    font-size: 28px;
    font-weight: bolder;
    font-family: Rockwell Extra Bold;
    vertical-align: middle;

}

header {
    border-bottom: 1px solid $gray-dark;
    height: 60px;
    padding: 0 15px;
    @include flexbox;
    .header-options {
        @include flexbox;
        @include align-items(center);
    }
}

.app-wrapper {
    height: 100%;
    width: 100%;
    @include flexbox;
    @include flex-direction(column);
}

.app-main {
    width: 100%;
    @include flexbox;
}

.main-view {
    @include flex-grow(1);
    overflow: hidden;
    margin: 15px;
}

.right-rail {
    border-left: 1px solid $gray-dark;
    width: 350px;
    padding: 10px;
    @include flex-shrink(0);
}

.juttle-source-toggle {
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

.juttle-source {
    background-color: transparent;
    color: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dropdown-menu {
    max-height: 50vh;
    overflow-y: auto;
}

#directory-listing.dropdown-menu {
    width: 300px;
}
