.font-btn {
    .btn:hover {
        color: $gray-lighter;
    }

    .font-btn-name {
        margin-top: 2px;
        text-align: center;
        font-size: $font-size-small;
        color: $gray-light;
    }
}

.btn-code {
    $hover: lighten($brand-primary, 10%);
    &:hover.active {
        color: $hover;
        border-color: $hover;
    }
    &.active {
        color: $brand-primary;
        border-color: $brand-primary;
    }
}

.btn-edit {
    margin-left: 58%;
    margin-top: 7px;
    width: 100px;
    font-size: $font-size-large;
    margin-bottom: 7px;
    position: absolute;
    top: 10px;
    right: 40%;
    z-index: 100;
}

.btn-run {
    $hover: lighten($brand-warning, 10%);
    &:hover.starting, &:hover.running {
        color: $hover;
        border-color: $hover;
    }
    &.starting, &.running {
        color: $brand-warning;
        border-color: $brand-warning;
    }
}
