.log-explorer {
    font-family: monospace;
    overflow-x: auto;
    white-space: nowrap;
    border-bottom: 1px solid $gray-dark;
    padding: 10px;

    .search-box {
        color: #fff;
        background-color: #333333;
        border-color: #555555
    }

    .line-counts {
        text-align: left;
    }
    .loglines {
        overflow-x: auto;
    }
}

.log-line {
    .match {
        background-color: #D87118;
    }

    .cursor-line {
        background-color: #4E8DB8;
    }
}