@import "./bootstrap-variables";
@import "./bootstrap";
@import "./flexbox";
@import "./juttle-client-library-overrides";

html, body {
    height: 100%;
}

#app {
    min-height: 100%;
    display: flex;
}

span.logo {
    font-size: 28px;
    font-weight: bolder;
    font-family: Rockwell Extra Bold;
    vertical-align: middle;
}

.outrigger {
    min-height: 100%;
    width: 100%;
    @include flexbox;
}


.main-view {
    @include flex-grow(1);
    overflow: hidden;
    margin: 10px;
}

.right-rail {
    border-left: 1px solid $gray-dark;
    width: 350px;
    padding: 10px;
    @include flex-shrink(0);
}

.juttle-source-toggle {
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

.juttle-source {
    background-color: transparent;
    color: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 200px;
}
